.navbar {
  width: 100%;
  height: 60px;
  background-color: #1f2937;
  color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 24px;
  box-sizing: border-box;
}

.navbar-brand {
  font-size: 22px;
  font-weight: 700;
}

.logout-btn {
  background-color: #ef4444;
  border: none;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}
.nav-link {
  color: white;
  margin-right: 15px;
  text-decoration: none;
  font-weight: 500;
}
